*{
    margin: 0 auto;
    padding: 0;
}
fieldset{
    padding: 20px;
    width: 50vw;
}
h2{
    text-align: center;
    margin-top: 20px;
    background-color: lightgrey;
}
hr{
    margin: 20px 0;
}
label{
    display: block;
    color: blue;
}
p{
    color: blue;
}
input, textarea{
    display: block;
    width: 80%;
    margin-top: 5px;
}
input[type="submit"]{
    margin-top: 20px;
    background-color:tan;
    padding: 5px;
    font-weight: bold;
}
table.list{
    margin-top: 25px;
    width: 80vw;
}
table, tr, th, td{
    border: 1px solid black;
}
th{
    background-color: aliceblue;
}
td{
    width: 12%;
}
.deleteBtn{
    background-color: red;
    text-align: center;
}
.button{
    width: 100%;
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
#searchTool{
    width: 75vw;
    background-color: lightgrey;
}
#searchCustomer label{
    color: black;
}